@page
@model webrtc_app.Pages.VideoCallModel
@{
}

@section variables{
    <script type="text/javascript">
            var UserName = '@ViewData["UserName"]';
    </script>
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/videoCall.css" />
</head>
<body>
    <div class="d-flex flex-row bd-highlight mb-3 vh-100">
        
        <div class="d-flex flex-column p-2 bd-highlight bg-secondary" style="width:25%">
            <div class="card bg-secondary">
                <div class="card-body text-white">
                Users Online
                </div>
            </div>
            <div id="activeUsersList">

            </div>
            @* <div class="card" onclick="random()">
                <div class="card-body">
                User 1
            </div> *@

            @*<div class="card">
                <div class="card-body">
                User 2
                </div>
            </div> *@
        </div>
        <div class="p-2 bd-highlight" id="vid">
            <video class="video-large" id="received_video" autoplay>
            </video>
            <video id="vid-small" autoplay muted></video>
            <button type="button" id="hangup-button" class="btn btn-primary" disabled></button>
        </div>
    </div>
</body>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/videoClient.js"></script>
