@page
@model webrtc_app.Pages.VideoCallModel
@{
}

@section variables{
    <script type="text/javascript">
            var UserName = '@ViewData["UserName"]';
    </script>
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/videoCall.css" />
</head>
<body>
    <div class="container-fluid no-padding-container height-100-vh">
  <div class="row height-100-parent">
    <div class="col-xs-3 active-user-list">
        <div class="list-group">
            <div class="list-group-item users-online-card"><h2>Users Online</h3></div>
            <div id="activeUsersList">

            </div>
          </div>
    </div>
    <div class="col-xs-9 height-100-parent">
        <div class="bd-highlight height-100-parent" id="vid">
            <video class="video-large height-100-parent" id="received_video" autoplay>
            </video>
            <video class="video-small" id="vid-small" autoplay muted></video>
            @* <button type="button" id="hangup-button" class="btn btn-primary" disabled></button> *@
        </div>
    </div>
  </div>
</div>
</body>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/videoClient.js"></script>
